<div class='contents-row'>
  <div class='base'>
    <%= form_with model: @user,url:user_registration_path,class:'registration-main',local: true do |f|%>
      <div class='form-header'>
        <h1 class='form-header-text'>
          会員情報入力
        </h1>
      </div>
      <div class='form-group'>
        <div class='form-text-wrap'>
          <label class='form-text'>ニックネーム</label>
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_area :nickname,class:'input-default',placeholder:"例)とうふくん",maxlength:"40"%>
      </div>

      
    <% end%>
  </div>
</div>