<div class='contents-row'>
  <div class='base'>
    <%= form_with model: @user,url:user_registration_path,class:'registration-main',local: true do |f|%>
      <div class='form-header'>
        <h1 class='form-header-text'>
          会員情報入力
        </h1>
      </div>
    <% end%>
  </div>
</div>