<div class='mypage_contents'>
  <div class='username-wrapp'>
    <p class='mypage_username'>
      <%= "#{@user.nickname}"%>
    </p>
  </div>
  <div class='mypage_wrapp'>
    <div class='mypage'>
      <% @illusts.each do |illust| %>
        <%= link_to image_tag(illust.image,class: :mypage_illust_img),illust_path(illust.id)%>
      <% end %>
    </div>
  </div>
</div>