<div class='mypage_contents'>
  <div class='username-wrapp'>
    <p class='mypage_username'>
      <%= "#{@user.nickname}"%>
    </p>
  </div>
  <div class='mypage'>
  <%= @illusts.illust%>
  </div>
</div>