.contents-row{
  background-color:#F0E68C;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}
.base{
  background-color: #006e54;
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.registration-main,
.login-main{
  background-color: white;
  width: 40vw;
  height: 100%;
  box-shadow: 0px 0px 9px 9px #bbb inset;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.form-header-text{
  font-size: 40px;
}
.form-group{
  width: 40vw;
  height: 15vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.form-text-wrap{
  padding-left:20px ;
  width: 100%;
  height: 30%;
}
.form-text{
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
.indispensable{
  font-size: 20px;
  color: black;
  margin-left: 20px;
  border: black solid 1px;
}
.input-default{
  width:  100%;
  height: 48px;
  border: 1px solid black;
  padding: 10px 10px 10px;
  margin-top: 10px;
  font-size:16px;
  border: none;
  box-shadow: 0px 0px 3px 3px rgb(230, 230, 230) inset;
}

.register-touhu-btn,
.login-touhu-btn{
  width: 100px;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 3px 3px #bbb inset;
  outline: none;
  border: none;
}
.login-main{
  height: 50vh;
}
.login-btn{
  margin-top: 15px;
}
