/* リセットCSS */

* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color:#006e54;
  height: 100px;
  display: flex;
  padding: 0px 10px;
}
.nav{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.nav_left{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100px;
  height: 90px;
}
.nav_right{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post ,
.sign-up, 
.login,
.logout{
  color: black;
  font-size: 30px;
  text-decoration: none;
  background-color: white;
  box-shadow: 0px 0px 4px 4px #bbb inset;
}

/* トップページ */
.main ,
.contents{
  background-color:#F0E68C;
  height: 100%;
}
.contents{
  display: flex;
  flex-direction: column;
  height:  100vh;
}
.introduce{
  background-color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 24vh;
  box-shadow: 0px 0px 5px 5px #bbb inset;
}
.intro{
  color: black;
  font-size: 30px;
}
.intro_text{
  color: black;
}
.illust-contents{
  background-color: #F0E68C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illusts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.subtitle{
  color: black;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.card{
  background-color: #006e54;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.list{
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px #bbb inset;
  padding: 20px;
  margin:10px;
}
.illust-info{
  text-align: center;
  display: flex;
  width: 90%;
  height:15%;
  justify-content: space-around;
  align-items: center;
}
.illust-title{
  color: white;
}
.illust-user{
  color: rgb(255, 215, 83);
}
.illust-img{
  width: 90%;
  height: 90%;
}
/* イラスト投稿画面 */
.illust-content{
  width: 100vw;
  height: 100%;
  background-color:#2c9c09;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.illust-post-main{
  height: 100%;
  width: 60vw;
  background-color: white;
  box-shadow: 0px 0px 10px 10px #bbb inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  margin-bottom:  10px;
}
.illust-title-wrapper{
  background-color: #d9a62e;
  margin: 10px 0;
}
.new-illsut-text{
  padding: 5px;
}
.click-upload{
  margin-top: 10px;
}
.img-upload{
  display: flex;
  padding-top: 2vh;
  justify-content: space-between;
  width: 50vw;
  height: 15vh;
}
.new-illust{
  width: 50vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}
.illust-text{
  height: 20vh;
  border: 1px solid black;
  padding: 16px 16px 16px;
  margin-top: 30px;
  font-size:16px;
  resize: none;
  border: none;
  box-shadow: 0px 0px 3px 3px rgb(230, 230, 230) inset;
}
.illust-btn-contents{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  text-align: center;
}
.post-btn{
  width: 100px;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 3px 3px #bbb inset;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.back-btn{
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  box-shadow: 0px 0px 3px 3px#6c4008 inset;
  color: black;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  padding-top: 10px;
}
/* 詳細画面 */
.illust-show-content{
  background-color: #2c9c09;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.illust-show-main{
  height: 100%;
  width: 60vw;
  background-color: white;
  box-shadow: 0px 0px 10px 10px #bbb inset;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 30px;
}
.illust-show-text{
  font-size: 20px;
}
.show-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height:  100vh;
  padding: 20px;
}
.illust-manage{
  width: 300px;
  height: 50px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.illust-btn{
  margin-top:60px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  box-shadow: 0px 0px 4px 4px #bbb inset;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 5px;
}
.illust-show-text{
  margin-bottom: 40px;
}
/* エラーメッセージ */
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

/* フッター */
.footer{
  height: 100px;
  background-color:#006e54;}