/* リセットCSS */

* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color:#006e54;
  height: 100px;
  display: flex;
  padding: 0px 10px;
}
.nav{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.nav_left{
  background-color:black;
  width: 100px
}
.logo{
  width: 100px;
}
.nav_right{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post ,
.sign-up, 
.login,
.logout{
  color: black;
  font-size: 30px;
  text-decoration: none;
  background-color: white;
  box-shadow: 0px 0px 4px 4px #bbb inset;
}

/* トップページ */
.main ,
.contents{
  background-color:#F0E68C;
  height: 100vh;
}
.contents{
  display: flex;
  flex-direction: column;
}
.introduce{
  background-color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 24vh;
  box-shadow: 0px 0px 5px 5px #bbb inset;
}
.intro{
  color: black;
  font-size: 30px;
}
.intro_text{
  color: black;
}
.illust-contents{
  background-color: #F0E68C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illusts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.subtitle{
  color: black;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.card{
  background-color: #006e54;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list{
  background-color: white;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px #bbb inset;
}
.footer{
  background-color:#006e54;
  height: 100px;
}