/* マイページ */
.mypage_contents{
  height: 100vh;
  background-color:#F0E68C;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.username-wrapp{
  width: 20%;
  height: 30%;
  background-color: red;
}
.mypage{
  width: 70%;
  height: 70%;
  background-color: white;
}