<%# 新規投稿 %>
<div class='illust-content'>
  <div class='illust-title-wrapper'>
    <h2 class='new-illsut-text'>新規イラスト投稿</h2>
  </div>
  <%= render partial:"form",local:{illust:@illust}%>
</div>
<%# /新規投稿 %>